<% provide(:title, "Campground Log In") %>

<h2>Enter campground </h2>

<div class="project_form">
	<%= form_tag sessions_path do %>
		<div>
			<%= label_tag :login_id, "Login ID" %>
			<%= text_field_tag :login_id, params[:login_id]  %>						
			<div id="login_id_error">
			</div>
		</div>

		<div>
			<%= label_tag :password, "Password" %>
			<%= password_field_tag :password  %>
		</div>

		<div>
			<%= submit_tag "Log in" %>			
		</div>	  
	<% end -%>
</div>

<div id ="forgot_password">
<%= form_tag site_user_requests_path do %>
	<%= hidden_field_tag "user_request", "reset_password" %>
	<%= hidden_field_tag "back_path", request.url %>
	<%= hidden_field_tag "user_login_id" %>	
	<%= submit_tag "Forgot password?", class: "change_password_button" %>			
<% end %>
</div>

