<% provide(:title, "Campground - #{@trail.name}") %>
<h2><%= @trail.name %></h2>

<h4>in <%= @trail.state.name %></h4>
<% if @trail.activities.any? %>
	<h5>for <%= output_with_commas(@trail.activities, :name) %>
	</h5>
<% end %>
<p> This trail is <%= @trail.length.to_f %> miles long. 
	<%= @trail.description %></p>
<% if logged_in? %>
	<div class='project_form'>
		<%= render 'common/trails/update_form' %>		
	</div>
<% end %>