Looking for a trail in
<%= select_tag "state_id", options_from_collection_for_select(Common::State.all, :id, :name), 
	{ prompt: "Select a state" } %>
for
<%= select_tag "activity_id", options_from_collection_for_select(Common::Activity.all, :id, :name), 
	{ prompt: "Select an activity" } %> <br><br>
<%= select_tag "trail_id", option_groups_from_collection_for_select(state_activity, :trail_collection,
	:category_label, :id, :name), 
	{ prompt: "Select a trail" } %>
<div id="hidden_request_path"><%= request.path %></div>
<%= yield %>
<%# if option.eql?("get_updates") %>
	<%#= link_to "Get updates", "#", remote: true, id: "get_updates_button" %>
<%# elsif option.eql?("show_trail") %>
	<%#= link_to "Show trail", "#", remote: true, id: "show_trail_button" %>
<%# elsif option.eql?("add_trail") %>
	<%#= link_to "Add trail", '#', remote: true, id: "add_trail_button" %>
<%# end %>
<div id = 'trail_selection_message'>No trail found</div>
