<% provide(:title, 'Campground') %>
<h2>Resetting Password</h2>

<%= render 'shared/error_messages', object: @user %>

<div class="project_form">
	<%= form_tag action: "process_request" do %>
		<div>
			<%= label_tag :password, "New password" %>
			<%= password_field_tag :password, params[:password]  %>						
		</div>

		<div>
			<%= label_tag :password_confirmation, "Confirm new password" %>
			<%= password_field_tag :password_confirmation, params[:password_confirmation]  %>
		</div>

		<div>
			<%= submit_tag "Reset password" %>
		</div>
	<% end -%>
	
</div>

