<header>
	<% if logged_in? %>
		<%= link_to "Profile", current_user , id: "left_buttons" %>
		<%= link_to "Log out", logout_path, method: :delete, id: "right_buttons" %>
	<% else %>
		<% if params[:controller] != "users" && params[:controller] != "site/user_requests"  %>
			<%= link_to "Join", invite_user_path, id: "left_buttons" %>			
		<% end %> 
		<% if params[:controller] != "sessions" %>
			<%= link_to "Log in", login_path, id: "right_buttons" %>			
		<% end %>
	<% end %>
	<h1><%= link_to image_tag("logo.png", alt: "Logo - Home"), root_path %></h1>
</header>	
